body {
  // font-family: "OS Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  max-width: 1338px;
  margin: 0 auto;
  padding: 0 10px;
}
.btn {
  width: 218px;
  height: 60px;
  padding: 15px 52px;
  background-color: var(--cta);
  color: var(--pure-white);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
}
.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  color: var(-accent);
  text-transform: capitalize;
}
.menu-toggler {
  display: none;
}

// media
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu__link {
    display: block;
    border-bottom: 1px dotted white;
    border-radius: 0;
  }

  .menu__item + .menu__item {
    margin-left: 0;
  }

  .menu-toggler {
    display: block;
    margin-left: auto;
  }

  .menu-show {
    display: block;
  }
}
