.about {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__inner-column {
        max-width: 672px;
        margin: 0;
        padding: 0;
    }
    &__inner-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__inner-item + &__inner-item {
        margin-left: 123px;
    }
    &__inner p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--accent-light);
    }
    &__inner-txt {
        margin: 0;
        padding: 0;
    }
    &__inner-item h3 {
        font-style: normal;
        font-size: 48px;
        color: #2A3246;
        text-align: center;
    }
}

