.about {
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    &__inner-txt {
        max-width: 675px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--accent-light);
    }
    &__inner-img {
        max-width: 500px;
        padding-left: 194px;
        padding-top: 252px;
    }
    &__inner-title {
        padding-top: 282px;
        padding-bottom: 23px;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: var(--accent);
    }
    &__inner-list {
        padding-top: 42px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-top: 38px;
    }
    &__inner-item h3 {
        margin: 0;
        font-style: normal;
        font-size: 48px;
        line-height: 80px;
        color: #2A3246;
    }
    &__inner-item p {
        margin: 0;
    }
}

