  .contact {

    &__inner {
        display: flex;
    }
    &__inner-column {
        max-width: 770px;
        margin-right: 81px;
    }
    &__inner-img {
        height: 100%;
    }
    &__inner-txt {
        padding: 0 0 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: var(--accent-light);
    }
}
.contact__form {
    display: flex;
}
.contact-email {
    width: 450px;
    height: 80px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
}
.contact-email::placeholder {
    padding: 31px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--accent-light);
}
.contact-btn {
    width: 264px;
    height: 80px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    color: var(--pure-white);
    line-height: 30px;
    margin-left: 12px;
}
