.footer-line {
    margin: 132px 20px 0 0;
    width: 1338px;
    height: 1px;
    background: #C4C4C4; 
}
.footer {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        // grid-template-columns: repeat(4, 1fr);
        // grid-gap: 30px;
    }
    &__inner-items ul {
      
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 595px;
        padding-top: 38px;
    }
    &__inner-list + &__inner-list  {
        margin-left: 3px;
    }
    &__inner-link {
        text-decoration: none;
        font-style: normal;
        font-size: 24px;
        line-height: 36px;
        color: var(--accent-light);
    }
    &__inner-link::after {
        content: "\2022";
        padding: 0 5px 0 0;
    }
    &__inner-logo {
        width: 106px;
        margin-top: 41px;
    }
}
