.hero {
  margin-top: 80px;
  position: absolute;
  width: 169px;
  height: 80px;
  left: 49%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 80px;
}

.hero-card-grid {
  margin: 87px;
  display: inline-flex;
  justify-content: center;
  gap: 106px;
  list-style: none;
  // margin-left: 21%;
  margin-bottom: 200px;
  padding-top: 128px;
  font-size: 22px;
  line-height: 35px;
  color: #8f95a5;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  color: #263238;
  padding-top: 11px;
}

.price__blc-txt {
  width: 248px;
  height: 45px;
  border-radius: 5px;
  border: #8f95a5;
  font-size: 30px;
}

.price__blc-txt small {
  color: #888;
  font-size: 18px;
}
.card1 {
  padding-top: 38px;
  height: 654px;
  width: 450px;
}

.card2 {
  height: 654px;
  width: 380px;
  padding-top: 62px;
}

.card3 {
  height: 654px;
  width: 445px;
  padding-top: 5px;
}

.img1 {
  padding-left: 30px;
}
.img3 {
  padding-left: 30px;
}
